/classes
/lib
deploy/lib
deploy/logs
.emacs-project
*.jar
.DS_Store
pom.xml
deploy/classes
CHILD
CHILDMAKER
NANNY
\#project.clj\#
.\#project.clj
.lein-failures
_release
*.zip
.lein-deps-sum
*.iml
*.ipr
*.iws
.idea
